# General
NODE_ENV=development
PORT=5014
DATABASE_URL=""
FRONTEND_URL="http://localhost:3000"
BCRYPT_SALT_ROUNDS=12

# OTP
OTP_EXPIRES_IN=5 # in minutes

# Access token
ACCESS_TOKEN_SECRET=""
ACCESS_EXPIRES_IN="7d"

# Refresh token
REFRESH_TOKEN_SECRET=""
REFRESH_EXPIRES_IN="30d"

# Admin credentials
ADMIN_DEFAULT_EMAIL=""
ADMIN_DEFAULT_PASSWORD=""

# OAuth Credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
PLATFORM_FEE_PERCENT="10"

# AWS S3 Configuration
AWS_ACCESS_KEY=""
AWS_SECRET_KEY=""
AWS_REGION=""
AWS_S3_BUCKET_NAME=""

# Mail Service
SMTP_HOST=""
SMTP_PORT=587
SMTP_USER=""
SMTP_APP_PASS=""
SMTP_DEFAULT_MAIL=""
SMTP_SUPPORT_MAIL=""